<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Executor to Task</title>
</head>
<body>
<h1>Add Executor to Task</h1>
<form th:action="@{/tasks/{taskId}/assign-executor(taskId=${task.id})}" method="post">
    <input type="hidden" name="taskId" th:value="${task.id}"/>
    <label for="executorId">Select Executor:</label>
    <select name="executorId" id="executorId">
        <option th:each="executor : ${executors}" th:value="${executor.id}"
                th:text="${executor.firstName + ' ' + executor.lastName}"></option>
    </select>
    <button type="submit">Assign Executor</button>
</form>
</body>
</html>