<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>All Tasks</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Executors</th>
        <th>Created At</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.description}"></td>
        <td>
            <a th:href="@{'/tasks/' + ${task.id} + '/update-status'}">
                <span th:text="${#strings.capitalizeWords(task.status.toString().toLowerCase().replace('_', ' '))}"></span>
            </a>
        </td>
        <td>
            <ul>
                <li th:each="executor : ${task.executors}"
                    th:text="${executor.firstName + ' ' + executor.lastName}"></li>
                <li th:if="${#lists.isEmpty(task.executors)}">No Assigned Executor</li>
            </ul>
            <form th:action="@{'/tasks/' + ${task.id} + '/add-executor'}" method="post">
                <button type="submit">Add Executor</button>
            </form>
        </td>
        <td th:text="${formatter.format(task.createdAt)}"></td>
        <td>
            <form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <form action="/tasks/add" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Add New Task</button>
    </form>
    <form action="/tasks/status/NOT_STARTED" style="margin-top: 10px;">
        <button type="submit" class="btn btn-info">Not Started Tasks</button>
    </form>
    <form action="/tasks/status/IN_PROGRESS" style="margin-top: 10px;">
        <button type="submit" class="btn btn-warning">In Progress Tasks</button>
    </form>
    <form action="/tasks/status/COMPLETED" style="margin-top: 10px;">
        <button type="submit" class="btn btn-success">Completed Tasks</button>
    </form>
</div>
</body>
</html>